SIIT-EAM support

I was looking into adding support for joolif in [clatd](https://github.com/toreanderson/clatd/), i.e., using it as a 464XLAT CLAT. However, there is one missing feature that preents this, namely the ability to create an explicit address mapping for the CLAT's IPv6 address.

As described in [RFC 6877 section 6.3](https://datatracker.ietf.org/doc/html/rfc6877#section-6.3):

> When a dedicated /64 prefix is not
>    available for translation from DHCPv6-PD [[RFC3633](https://datatracker.ietf.org/doc/html/rfc3633)], the CLAT may
>    perform NAT44 for all IPv4 LAN packets so that all the LAN-originated
>    IPv4 packets appear from a single IPv4 address and are then
>    statelessly translated to one interface IPv6 address that is claimed
>    by the CLAT via the Neighbor Discovery Protocol (NDP) and defended
>    with Duplicate Address Detection (DAD).

DHCPv6-PD is not very commonly available, so the above describes the use case seen in most 464XLAT scenarios. SIIT-EAM contains the protocol extension that makes the above possible, as described in [RFC 7757 appendix A.1](https://datatracker.ietf.org/doc/html/rfc7757#appendix-A.1).

It would be very nice if joolif would support SIIT-EAM, or at the very least the ability to configure a single 1:1 (/32:/128) EAM. That is enough to support the 464XLAT use case (and the [SIIT-DC Node-Based Edge Relay](https://datatracker.ietf.org/doc/html/rfc7756#section-3.1) use case as well).

Ok, I'll try PR'ing the feature at some point after the other repository is published.